@page "/about"
@using BlazorTimeline

<div align="Left">

    <Jumbotron Background="Background.Light">
        <Timeline Title="@Resources.Lang.HeadingAbout"
                  TitleBgColor="DarkGray"
                  TitleColor="#FFFFFF"
                  TextColor="#F3F3F3"
                  TextBgColor="gray">
            <TimelineItem Title="@Resources.About._1986Title" Time="02.10.1986">
                @Resources.About._1986Body
            </TimelineItem>
            <TimelineItem Title="@Resources.About._1993Title" Time="1993">
                @Resources.About._1993Body
            </TimelineItem>
            <TimelineItem Title="@Resources.About._1997Title" Time="1997">
                @Resources.About._1997Body
            </TimelineItem>
            <TimelineItem Title="@Resources.About._2001Title" Time="2001">
                @Resources.About._2001Body
            </TimelineItem>
            <TimelineItem Title="@Resources.About._200208Title" Time="01.08.2002">
                @((MarkupString)Resources.About._200208Body)
            </TimelineItem>
            <TimelineItem Title="@Resources.About._200209Title" Time="01.09.2002">
                @Resources.About._200209Body
            </TimelineItem>
            <TimelineItem Title="@Resources.About._200212Title" Time="01.12.2002" ButtonText="MED-EL" Link="https://www.medel.com">
                @Resources.About._200212Body
            </TimelineItem>
            <TimelineItem Title="@Resources.About._2004Title" Time="2004">
                @Resources.About._2004Body
            </TimelineItem>
            <TimelineItem Title="@Resources.About._2006Title" Time="07.07.2006">
                @((MarkupString)Resources.About._2006Body)
            </TimelineItem>
            <TimelineItem Title="@Resources.About._2007Title" Time="14.01.2007">
                @Resources.About._2007Body
            </TimelineItem>
            <TimelineItem Title="@Resources.About._2010Title" Time="2010">
                @Resources.About._2010Body
            </TimelineItem>
            <TimelineItem Title="@Resources.About._201703Title" Time="01.03.2017">
                @Resources.About._201703Body
            </TimelineItem>
            <TimelineItem Title="@Resources.About._201710Title" Time="15.10.2017">
                @Resources.About._201710Body
            </TimelineItem>
            <TimelineItem Title="@Resources.About._201712Title" Time="01.12.2017">
                @((MarkupString)Resources.About._201712Body)
            </TimelineItem>
            <TimelineItem Title="@Resources.About._2020Title" Time="07.01.2020">
                @((MarkupString)Resources.About._2020Body)<br />
                <img src="assets/images/portfolio/Elsa1.JPG" width="75%" />
            </TimelineItem>
            <TimelineItem Title="@Resources.About._202104Title" Time="01.04.2021">
                @((MarkupString)Resources.About._202104Body)
            </TimelineItem>
            <TimelineItem Title="@Resources.About._202110Title" Time="01.10.2021">
                @((MarkupString)Resources.About._202110Body)
            </TimelineItem>
        </Timeline>
        </Jumbotron>
</div>

@code {

}
