@page "/dog"
@using Blazorise

<Jumbotron Background="Background.Light">
    <JumbotronTitle>@Resources.Dog.Heading</JumbotronTitle>
    <JumbotronSubtitle>
        <Alert Color="Color.Success" Visible>
            <AlertMessage>
                @Resources.Dog.IntroText
            </AlertMessage>
        </Alert>
    </JumbotronSubtitle>
    @{#if DEBUG}
    <Container Breakpoint="Breakpoint.Desktop" Fluid="true">
        <Row Gutter="(16,16)">
            <Column ColumnSize="ColumnSize.Is7">
                Elsa joined my Life on January 2020.<br />
                Right before the first Covid restrictions were hitting us.
            </Column>
            <Column ColumnSize="ColumnSize.Is5">
                <Figure Size="FigureSize.Is256x256">

                </Figure>
            </Column>
        </Row>
        <Row Gutter="(16,16)">
            <Column ColumnSize="ColumnSize.Is5">
                <Figure Size="FigureSize.Is256x256">

                </Figure>
            </Column>
            <Column ColumnSize="ColumnSize.Is7">
                She's born in July 2019 with 4 siblings.<br />
                <Button Color="Color.Light" Type="ButtonType.Link" To="@Resources.Dog.PokiLink" Target="Target.Blank">
                    @Resources.Dog.PokiText
                </Button>
                <Button Color="Color.Light" Type="ButtonType.Link" To="@Resources.Dog.KenLink" Target="Target.Blank">
                    @Resources.Dog.KenText
                </Button>
            </Column>
        </Row>
        <Row>
            <Column>
                <Button Color="Color.Primary" Outline Type="ButtonType.Link" To="@Resources.Dog.WorkingDogLink" Target="Target.Blank">
                    @((MarkupString)Resources.Dog.WorkingDogText)
                </Button>
            </Column>
        </Row>
    </Container>
    @{#else}
    <p>@Resources.Lang.UnderConstruction</p>
    @{#endif}
</Jumbotron>

@code {

}
