@page "/photography"

<h3>@Resources.Lang.HeadingPhotography</h3>

<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/images/portfolio/Elsa1.JPG" title="@Resources.Lang.PhotoTitleElsa1" target="_blank">
                    <img class="img-fluid" src="assets/images/portfolio/Elsa1.JPG" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">@Resources.Lang.PhotoProjectCat</div>
                        <div class="project-name">@Resources.Lang.PhotoProjectAnimal</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/images/portfolio/Landscape1.JPG" title="@Resources.Lang.PhotoTitleLandscape1" target="_blank">
                    <img class="img-fluid" src="assets/images/portfolio/Landscape1.JPG" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">@Resources.Lang.PhotoProjectCat</div>
                        <div class="project-name">@Resources.Lang.PhotoProjectLandscape</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/images/portfolio/Elsa2.JPG" title="@Resources.Lang.PhotoTitleElsa2" target="">
                    <img class="img-fluid" src="assets/images/portfolio/Elsa2.JPG" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">@Resources.Lang.PhotoProjectCat</div>
                        <div class="project-name">@Resources.Lang.PhotoProjectAnimal</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

@code {

}
